/*GLOBAL PARAMETRES*/
:root {
    --background: linear-gradient(220.55deg, #212121 0%, #2c3038 100%);
    /*--background: linear-gradient(220.55deg, #181818 0%, #565656 100%);*/
}

html {
    background: var(--background);
    font-family: 'Comfortaa';
    color: white;
    scroll-behavior: smooth;
    overflow-y: scroll;
    backdrop-filter: blur(3021300px);
    ::-webkit-scrollbar {
        display: none;
    }

}

body {
    width: 100vw;
}


/*HEADER*/

.header {
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(200px);
    display: flex;
    width: 20rem;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.header-mobile {
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(100rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    visibility: visible;
    z-index: 10;
    animation: 1s ease-in 0s 1 normal none running fadeIn;
}

.header-mobile-hidden {
    display: none;
}



.header nav a,
.header-mobile nav a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.header nav a:hover,
.header-mobile nav a:hover {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    line-height: 5rem;
    color: #5d5bf1;
    text-decoration: none;
    animation: fadeIn;
    animation-duration: 0.2s;
}

.header #header-logo,
.header-mobile #header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header #header-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0px 0px 0px;
}

/*HEADER*/

/*MAIN PAGE*/
.main-page {
    width: auto;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
}



/*MAIN PAGE*/