<header class="header">
    <div id="header-logo">
        <a href="#">
            <img src="/src/assets/img/nube.png" alt="Logo" width="200px" height="200px">
        </a>
    </div>
    <nav id="header-nav">
        <a href="#" >TEST</a>
    </nav>
</header>