---
---
<header class="header">
    <nav id="header-nav">
        <div class="input-container">
            <img src="src/assets/img/lupa.png" id="lupa" alt="lupa">
            <input type="text" class="location" id="location" placeholder="Ciudad">
            <div class="highlight"></div>
        </div>
        <div class="weather-detail">
            <img id="weather-icon" >
            <h3 class="degress">9</h3>
        </div>
    </nav>
    <nav id="second-nav">
        <p class="time-zone">2023-07-18 22:15</p>
    </nav>
</header>

<style>
    #lupa{
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 30%;
        cursor: pointer;
    }
    .input-container{
        position: relative;
    }
    .input-container input{
        font-size: 0.8em;
        padding: 0.6em 1em;
        border: none;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        width: 40rem;
        max-width: 250px;
        height: 30px;
        color: #fff;
        background-color: transparent;
    }
    .input-container input:focus {
        outline: none;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .input-container input::placeholder{
        color: #dddddd;
    }
    .highlight{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.3s ease;
    }
    .input-container input:focus + .highlight{
        width: 100%;
    }
    @keyframes input-focus {
        from {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        }

        to {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
    }
    .input-container input:focus {
        outline: none;
        animation: input-focus 0.3s ease;
    }
    .weather-detail{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .degress{
        font-size: 4rem;
        display: flex;
        align-items: end;
    }
    #weather-icon{
        width: 60px;
        padding-top: 30px;

    }
    .weather-detail p{
        margin-left: 15px;
    }
    .time-zone{
        padding-left: 23px;
    }
</style>