---
import '../styles/main.css'
---
<article class="landing">
    <h1 class="title">
        El Tiempo
        <span>Ahora</span>
    </h1>
    <h2 class="weather-description">Soleado</h2>
    <img src="" alt="">
</article>

<style>
    .landing{
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 20px;
        padding-left: 20px;
    }
    .title{
        font-size: 1.5rem;
    }
    .title span{
        display: block;
        font-size: 2.5rem;
    }
</style>