---
import '../styles/main.css'
import Chart from './Chart.astro';
---
<article class="landing">
    <div class="icon">
        <h2 class="title-icon">
            El Tiempo
            <span>Ahora</span>
        </h2>
    </div>

    <h2 class="weather-description">Soleado</h2>
    <img src="" alt="">
</article>
<article class="chart-article">
    <Chart/>
</article>

<style>
    .landing{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 20px;
    }

    .title-icon{
        font-size: 1rem;
    }
    .title-icon span{
        display: block;
        font-size: 1.6rem;
    }
</style>